# 02StagePlayerSeason

This notebook stages season-level FanGraphs batting data into MySQL and
constructs a clean player–season base table.

The goal of this step is to formalize data structure and storage.
No feature engineering, trajectory construction, or modeling is performed here.

## MySQL Connection

We establish a connection between Python and a local MySQL database.
This allows us to stage raw data and define structured tables using SQL.

In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
import os

password = os.getenv("MYSQL_PASSWORD")

engine = create_engine(
    "mysql+pymysql://mlb_user:strong_password@localhost/mlb_analytics"
)
engine.connect()

## Load FanGraphs Batting Data

We load the season-level FanGraphs batting dataset from CSV.
This dataset was validated in the previous exploration notebook and
serves as the source of truth for staging.

In [14]:
df = pd.read_csv("../data/raw/FanGraphsBatting_2022_2025.csv")
df.shape

(538, 320)

## Stage Raw Data in MySQL

The full FanGraphs dataset is written to MySQL as a raw staging table.
No filtering or transformation is applied at this stage.

In [15]:
df.to_sql(
    "fangraphs_batting_raw",
    engine,
    if_exists="replace",
    index=False
)

538

## Verify Raw Table Load

We confirm that the raw FanGraphs table was successfully written to MySQL
by checking row counts directly from the database.

In [16]:
pd.read_sql(
    "SELECT COUNT(*) AS row_count FROM fangraphs_batting_raw;",
    engine
)

   row_count
0        538

## Build Player Information Table

We construct a player-level dimension table containing stable identifiers.
This table separates player identity from season-level performance data.

In [17]:
from sqlalchemy import text

query = """
DROP TABLE IF EXISTS player_info;

CREATE TABLE player_info AS
SELECT DISTINCT
    IDfg,
    Name
FROM fangraphs_batting_raw;
"""

with engine.begin() as conn:
    for stmt in query.split(";"):
        if stmt.strip():
            conn.execute(text(stmt))

In [18]:
pd.read_sql(
    "SELECT COUNT(*) AS n_players FROM player_info;",
    engine
)

   n_players
0        251

In [19]:
pd.read_sql(
    "SELECT * FROM player_info LIMIT 5;",
    engine
)

    IDfg              Name
0  15640       Aaron Judge
1   9777     Nolan Arenado
2  11493     Manny Machado
3   5417       Jose Altuve
4   9218  Paul Goldschmidt

## Build Player–Season Context Table

This table captures playing-time and demographic context for each player-season.
It will later support filtering and exposure controls.

In [22]:
from sqlalchemy import text

query = """
DROP TABLE IF EXISTS player_season_context;

CREATE TABLE player_season_context AS
SELECT
    IDfg,
    Season,
    Team,
    Age,
    G,
    PA
FROM fangraphs_batting_raw;
"""

with engine.begin() as conn:
    for stmt in query.split(";"):
        if stmt.strip():
            conn.execute(text(stmt))

## Build Player–Season Outcome Table

Outcome metrics are isolated into a dedicated table.
These fields are used later for trajectory labeling and evaluation,
and are intentionally separated to avoid feature leakage.

In [25]:
from sqlalchemy import text

query = """
DROP TABLE IF EXISTS player_season_outcomes;

CREATE TABLE player_season_outcomes AS
SELECT
    IDfg,
    Season,
    `wRC+`,
    WAR,
    OPS,
    wOBA,
    xwOBA
FROM fangraphs_batting_raw;
"""

with engine.begin() as conn:
    for stmt in query.split(";"):
        if stmt.strip():
            conn.execute(text(stmt))

## Build Plate Discipline Table

This table stages plate discipline metrics that often change before
surface-level offensive outcomes.

These metrics will later be used to compute year-over-year deltas
and rolling trends for trajectory modeling.

In [26]:
from sqlalchemy import text

query = """
DROP TABLE IF EXISTS player_season_plate_discipline;

CREATE TABLE player_season_plate_discipline AS
SELECT
    IDfg,
    Season,
    `BB%`,
    `K%`,
    `BB/K`,
    `O-Swing%`,
    `Z-Contact%`,
    `SwStr%`
FROM fangraphs_batting_raw;
"""

with engine.begin() as conn:
    for stmt in query.split(";"):
        if stmt.strip():
            conn.execute(text(stmt))

## Build Batted Ball Profile Table

This table captures Statcast-style batted ball metrics that reflect
underlying contact quality and power.

These metrics are strong leading indicators for offensive breakouts
and declines.

In [27]:
query = """
DROP TABLE IF EXISTS player_season_batted_ball;

CREATE TABLE player_season_batted_ball AS
SELECT
    IDfg,
    Season,
    EV,
    LA,
    `HardHit%`,
    `Barrel%`,
    maxEV
FROM fangraphs_batting_raw;
"""

with engine.begin() as conn:
    for stmt in query.split(";"):
        if stmt.strip():
            conn.execute(text(stmt))

## Validate Staged Tables

We perform lightweight validation checks to ensure all staged tables
were created successfully and contain expected data.

In [28]:
tables = [
    "player_info",
    "player_season_context",
    "player_season_outcomes",
    "player_season_plate_discipline",
    "player_season_batted_ball"
]

for t in tables:
    print(t)
    display(
        pd.read_sql(
            f"SELECT COUNT(*) AS row_count FROM {t};",
            engine
        )
    )

player_info

   row_count
0        251

player_season_context

   row_count
0        538

player_season_outcomes

   row_count
0        538

player_season_plate_discipline

   row_count
0        538

player_season_batted_ball

   row_count
0        538

In [29]:
for t in tables:
    print(f"\nPreview: {t}")
    display(
        pd.read_sql(
            f"SELECT * FROM {t} LIMIT 5;",
            engine
        )
    )

Preview: player_info

    IDfg              Name
0  15640       Aaron Judge
1   9777     Nolan Arenado
2  11493     Manny Machado
3   5417       Jose Altuve
4   9218  Paul Goldschmidt

Preview: player_season_context

    IDfg  Season Team  Age    G   PA
0  15640    2022  NYY   30  157  696
1   9777    2022  STL   31  148  620
2  11493    2022  SDP   29  150  644
3   5417    2022  HOU   32  141  604
4   9218    2022  STL   34  151  651

Preview: player_season_outcomes

    IDfg  Season  wRC+   WAR    OPS   wOBA  xwOBA
0  15640    2022   206  11.1  1.111  0.458  0.463
1   9777    2022   149   7.2  0.891  0.381  0.339
2  11493    2022   152   7.1  0.898  0.382  0.338
3   5417    2022   164   6.9  0.921  0.397  0.354
4   9218    2022   175   6.8  0.981  0.419  0.367

Preview: player_season_plate_discipline

    IDfg  Season    BB%     K%  BB/K  O-Swing%  Z-Contact%  SwStr%
0  15640    2022  0.159  0.251  0.63     0.268       0.852   0.118
1   9777    2022  0.084  0.116  0.72     0.361       0.908   0.086
2  11493    2022  0.098  0.207  0.47     0.342       0.856   0.118
3   5417    2022  0.109  0.144  0.76     0.314       0.910   0.068
4   9218    2022  0.121  0.217  0.56     0.276       0.818   0.099

Preview: player_season_batted_ball

    IDfg  Season    EV    LA  HardHit%  Barrel%  maxEV
0  15640    2022  95.8  14.9     0.611    0.262  118.4
1   9777    2022  88.8  21.7     0.389    0.082  111.4
2  11493    2022  91.5  16.0     0.490    0.098  112.4
3   5417    2022  85.9  16.1     0.297    0.077  109.8
4   9218    2022  90.7  15.7     0.472    0.115  112.3

In [30]:
pd.read_sql(
    """
    SELECT
        COUNT(*) AS total_rows,
        COUNT(DISTINCT CONCAT(IDfg, '-', Season)) AS unique_player_seasons
    FROM player_season_context;
    """,
    engine
)

   total_rows  unique_player_seasons
0         538                    538

## Joined Player–Season View

With all staged tables validated, we now join them together into a single
wide player–season view. This joined table consolidates contextual,
outcome, and skill-based metrics into one dataset while preserving the
player–season grain.

This view is not yet model-ready. It exists to:
- centralize season-level information
- support player self-joins across seasons
- enable delta and rolling feature construction in the next notebook

All joins are performed using the shared `(IDfg, Season)` keys, with
`player_season_context` serving as the base table to define the universe
of player-seasons.

In [31]:
from sqlalchemy import text

query = """
DROP TABLE IF EXISTS player_season_full;

CREATE TABLE player_season_full AS
SELECT
    -- identifiers
    c.IDfg,
    i.Name,
    c.Season,

    -- context
    c.Team,
    c.Age,
    c.G,
    c.PA,

    -- outcomes (used later for labeling only)
    o.`wRC+`,
    o.WAR,
    o.OPS,
    o.wOBA,
    o.xwOBA,

    -- plate discipline
    pd.`BB%`,
    pd.`K%`,
    pd.`BB/K`,
    pd.`O-Swing%`,
    pd.`Z-Contact%`,
    pd.`SwStr%`,

    -- batted ball profile
    bb.EV,
    bb.LA,
    bb.`HardHit%`,
    bb.`Barrel%`,
    bb.maxEV

FROM player_season_context c

LEFT JOIN player_info i
    ON c.IDfg = i.IDfg

LEFT JOIN player_season_outcomes o
    ON c.IDfg = o.IDfg
   AND c.Season = o.Season

LEFT JOIN player_season_plate_discipline pd
    ON c.IDfg = pd.IDfg
   AND c.Season = pd.Season

LEFT JOIN player_season_batted_ball bb
    ON c.IDfg = bb.IDfg
   AND c.Season = bb.Season;
"""

with engine.begin() as conn:
    for stmt in query.split(";"):
        if stmt.strip():
            conn.execute(text(stmt))

## Load Joined Player–Season Table

We load the joined table into Python for validation and exploratory use.
No transformations are applied at this stage.

In [32]:
player_season_full = pd.read_sql(
    "SELECT * FROM player_season_full;",
    engine
)

player_season_full.head()

,IDfg,Name,Season,Team,Age,G,PA,wRC+,WAR,OPS,...,K%,BB/K,O-Swing%,Z-Contact%,SwStr%,EV,LA,HardHit%,Barrel%,maxEV
0,15640,Aaron Judge,2022,NYY,30,157,696,206,11.1,1.111,...,0.251,0.63,0.268,0.852,0.118,95.8,14.9,0.611,0.262,118.4
1,9777,Nolan Arenado,2022,STL,31,148,620,149,7.2,0.891,...,0.116,0.72,0.361,0.908,0.086,88.8,21.7,0.389,0.082,111.4
2,11493,Manny Machado,2022,SDP,29,150,644,152,7.1,0.898,...,0.207,0.47,0.342,0.856,0.118,91.5,16.0,0.490,0.098,112.4
3,5417,Jose Altuve,2022,HOU,32,141,604,164,6.9,0.921,...,0.144,0.76,0.314,0.910,0.068,85.9,16.1,0.297,0.077,109.8
4,9218,Paul Goldschmidt,2022,STL,34,151,651,175,6.8,0.981,...,0.217,0.56,0.276,0.818,0.099,90.7,15.7,0.472,0.115,112.3

## Shape and Structure Check

We verify that the dataset has the expected number of rows and columns.
Each row should represent one player-season.

In [33]:
player_season_full.shape

(538, 23)

## Player–Season Key Integrity

We confirm that each `(IDfg, Season)` pair appears exactly once.

In [34]:
player_season_full[["IDfg", "Season"]].duplicated().sum()

np.int64(0)

## Missing Data Overview

We examine missingness to understand metric availability across seasons.
Missing values are expected for certain Statcast-style metrics and will
be handled during feature construction.

In [35]:
player_season_full.isna().mean().sort_values(ascending=False).head(15)

IDfg          0.0
BB%           0.0
Barrel%       0.0
HardHit%      0.0
LA            0.0
EV            0.0
SwStr%        0.0
Z-Contact%    0.0
O-Swing%      0.0
BB/K          0.0
K%            0.0
xwOBA         0.0
Name          0.0
wOBA          0.0
OPS           0.0
dtype: float64

## Export Player–Season Dataset

With missingness verified and no immediate structural issues identified,
we export the joined player–season dataset to a flat CSV file.

This export represents a frozen analytical snapshot and will be used for:
- downstream modeling notebooks
- Power BI visualization
- reproducible analysis independent of database connections

The MySQL tables remain the authoritative source of truth.

In [37]:
import os

output_dir = "data/processed"
os.makedirs(output_dir, exist_ok=True)

output_file = f"{output_dir}/PlayerSeasonFull.csv"

player_season_full.to_csv(
    output_file,
    index=False
)

print("Export complete:", output_file)

Export complete: data/processed/PlayerSeasonFull.csv

## Notebook Conclusion

This notebook completes the data staging and consolidation phase of the
project.

FanGraphs batting data has been:
- ingested into MySQL
- modularized into focused tables
- validated for integrity
- joined into a unified player–season dataset

The resulting table provides a clean foundation for longitudinal analysis.
All trajectory construction, delta computation, and labeling are deferred
to the next notebook to preserve clarity and reproducibility.